<div class="user-id-div" id="<%= @user.id %>"></div>
<table id='rounds-table' class='tablesorter'>
  <thead>
    <tr>
      <th>Holes</th>
      <th>Course</th>
      <th>Date</th>
      <th>Par</th>
      <th>Score</th>
      <th>Score-To-Par</th>
      <th>Drinking</th>
      <th>Comments</th>
      <th id="delete-button-row"></th>
    </tr>
  </thead>
  <tbody class="rounds">
    <% @user.rounds.all.each do |round| %> 
      <%= render round %>
    <% end %>
  </tbody>
</table>