<div class="sign-up-view">
    <p>To sign up for <span class="excite"><b>GolfTracker</b></span> and begin utilizing all of our great features click on the <b>BIG ASS GOLF BALL:</b></p>

    <%= link_to image_tag('golf_ball.jpg', height:"300px", width:"300px"), sign_up_path %>
</div>