/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

* {
    font-family:Arial;
}

/* Rounds Table */

.user-id-div {
    display:none;
}

.rounds-table {
    border:black 2px solid;
    border-collapse:collapse;
    border-radius:10px;
}

.round-data {
  border-top:1px solid black;
  border-left:1px solid black;
}

.round-data-type {
    width:130px;
    text-align:left;
    border-left:1px solid black;
}

#delete-button-row {
    width:18px;
}

.rounds-table-title {
     color:red;
     border-bottom:1px solid black;
     font-size:1.5em;
}

.up-button {
    float: right;
    height:15px;
    width:15px;
}

.down-button {
    float:right;
    height:15px;
    width:15px;
}

.delete-image {
    height:15px;
    width:15px;
}

.delete-button {
    cursor:pointer;
}

/* Header/Footer */

.header {
    float:right;
    margin-top:10px;
    margin-right:10px;
}

.footer {
    float:right;
    margin-top:20px;
    margin-bottom:10px;
    margin-right:10px;
}

.header a {
    color:black;
    text-decoration:none;
    border: 1px solid black;
    padding:5px;
    border-radius:5px;
}

.footer a {
    color:black;
    text-decoration:none;
    border: 1px solid black;
    padding:5px;
    border-radius:5px;
}

/* Rounds Form */

.submit-button {
    color:black;
    text-decoration:none;
    border: 1px solid black;
    padding:5px;
    border-radius:5px;
}