<div class="header">
  <div class="home-button">
    <h1 class="excite"><b><%= link_to "GolfTracker", root_url %></b></h1>
  </div>
  <div class="navigation-links">
    <% if signed_in? %>

      <%= link_to 'Sign Out', sign_out_path, method: :delete, class:'navigation-link' %>
      <%= link_to 'Your Profile', current_user, class:'navigation-link' %>

    <% else %>

      <%= link_to 'Sign In', sign_in_path %>

    <% end %>
  </div>

</div>